 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front-End</h2>
      <p>JavaScript, React.js, HTML5, CSS</p>
    </div>
    <div class="tech">
      <h2>Back-End</h2>
      <p>Java, Spring Boot</p>
    </div>
    <div class="tech">
      <h2>Database</h2>
      <p>Oracle, MySql</p>
    </div>
    <div class="tech">
      <h2>Etc</h2>
      <p>Android Studio, Ubuntu, Github, Figma</p>
    </div>
    
</div>
